.section {
    max-width: 440px;
    margin-left: 40px;
    border: solid 1px black;
    border-radius: 4px;
}

.title {
    font-weight: 700;
    font-size: 48px;
    /* color: blue; */
    text-align: center;
    background-color: #e6e9dd;

    margin: 0;
    padding: 60px 0;
}

.statList {
    display: flex;
    list-style-type: none;
    background-color: #b7d365;
    margin: 0;
    padding: 0;
}

.item:not(:last-child) {
    border-right: solid 1px black;
}


.label {
    padding: 16px 0;
    color: gray;
    width: 72px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.percentage {
    font-weight: 600;
    padding-bottom: 8px;
    font-size: 24px;
    width: 72px;
    display: flex;
    justify-content: center;
}